/* header.css */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--secondary-background-color);
    padding: 16px;
    border-bottom: 2px solid var(--accent-color);
    width: 100%;
    max-width: 414px; /* Matches the base width of other containers */
    margin: 0 auto; /* Centers the header */
    box-sizing: border-box;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.icon {
    font-size: 24px;
    text-align: center;
    cursor: pointer;
}

.logo-container {
    flex: 1; /* Allows the logo to take up available space */
    display: flex;
    justify-content: center; /* Centers the logo horizontally */
    align-items: center;
    min-width: 300px;
}

.logo {
    max-width: 90px;
    height: auto;
}