:root {
    --primary-color: #065CBE;
    /* Inatel Blue */
    --secondary-color: #350FF2;
    /* secondary blue */
    --accent-color: #0F31F2;
    /* accent blue */
    --background-color: #e1e1e1;
    /* Light background */
    --secondary-background-color: #4d8a9b;
    /* dark blue/gray background */
    --white-text-color: #e1e1e1;
    /* light text color */
    --text-color: #333;
    /* dark text color */
}

[data-theme="dark"] {
    --primary-color: #065CBE;
    /* Dark background */
    --secondary-color: #5C16D2;
    /* Purple */
    --accent-color: #800FF2;
    /* Accent purple */
    --background-color: #333;
    /* Dark background */
    --secondary-background-color: #01475a;
    /* Darker background */
    --text-color: #e1e1e1;
    /* Lighter text color for dark mode */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Arimo", sans-serif;
}

body {
    font-family: "Arimo", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Centers content vertically */
    align-items: center;
    /* Centers content horizontally */
    min-height: 100vh;
    max-width: 414px;
    margin: 0 auto;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}



/* Header styling */
header {
    background: var(--secondary-background-color);
    padding: 16px;
    border-bottom: 2px solid var(--accent-color)
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white-text-color);
}

.svg_logo_inatel {
    width: 20vw;
    /* Adjusts based on viewport width */
    max-width: 200px;
    /* Maximum size */
    height: auto;
}

.icon {
    font-size: 5vw;
    max-width: 40px;
    /* Adjusts based on viewport width */
    text-align: center;
}

/* Main container layout */
.main-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 16px;
    padding: 16px;
    overflow-y: auto;
}

/* Box styling */
.box {
    padding: 16px;
    border: 1px solid var(--accent-color);
    text-align: center;
    background: var(--secondary-background-color);
    height: auto;
    /* Allow box height to adjust based on content */
    flex: 1;
    /* Allow boxes to take up remaining space */
    border-radius: 8px;
    /* Rounded corners */
}

/* Messages box styling */
.messages {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    /* Align items to the start (left) */
}

.messages-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
    color: var(--white-text-color);
}

.message-item {
    font-size: 16px;
    padding: 8px;
    font-weight: bold;
    background: var(--background-color);
    /* Light gray background for items */
    border-radius: 8px;
    color: var(--black-text-color);
    /* Dark gray text for message items */
}

/* Classes box styling */
.classes {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    /* Align items to the start (left) */
}

.classes-item {
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 8px;
    background: var(--background-color);
    /* Light gray background for classes item */
    border-radius: 8px;
    width: 100%;
    /* Ensure the item takes full width of the container */
    gap: 16px;
    /* Increased space between icon and content */
}

.classes-item-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    /* Add space between title and info */
    flex-grow: 1;
    /* Allow the content to take up the remaining space */
    align-items: flex-start;
}

.classes-item-content-title {
    font-size: 18px;
    font-weight: bold;
    color: var(--text-color);
}

.classes-item-content-info {
    font-size: 14px;
    color: var(--text-color);
    /* Medium gray text for info */
}

.classes-item-icon {
    font-size: 24px;
    color: var(--secondary-color);
    /* Light blue color for icon */
}

/* Basic styling for the dialog box */
dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: var(--secondary-background-color);
    border-radius: 8px;
    width: 80%;
    /* Adjust width as needed */
    max-width: 400px;
    box-shadow: 0 5px 15px var(--accent-color);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Centering the dialog */
    z-index: 1000;
    visibility: hidden;
    /* Initially hidden */
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease;
}

dialog h2 {
    color: var(--text-color);
    /* Change this to your preferred color */
    margin-bottom: 20px;
    /* Space between heading and buttons */
    font-size: 1.5em;
    /* You can adjust the size */
    text-align: center;
}

/* Show dialog when active */
dialog[open] {
    visibility: visible;
    opacity: 1;
}

/* Overlay effect when dialog is open */
dialog[open] {
    background-color: var(--secondary-background-color);
}

/* Button styles inside dialog */
#themeDialog button {
    background-color: var(--background-color);
    color: var(--text-color);
    border: none;
    padding: 10px 15px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}

#themeDialog button:hover {
    background-color: var(--secondary-color);
}

h3 {
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    color: var(--text-color);
    padding-left: 5px;
    padding-right: 5px;
}

p {
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 11px;
    color: var(--text-color);
    line-height: 1.5;
    padding-left: 5px;
    padding-right: 5px;
}

.carousel-container {
    position: relative;
    overflow: hidden;
    background-color: var(--background-color);
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.card {
    min-width: 100%;
    text-align: center;
}

.card img {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.info {
    padding: 10px
}

.icon {
    font-size: 15px;
    margin-left: 5px;
    margin-right: 2px;
    width: 18px;
    display: inline-block;
    vertical-align: middle
}

#carousel-container button {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 10px;
}

#prevBtn {
    left: 10px;
}

#nextBtn {
    right: 10px;
}